
div.tilt_container {
  margin: 1em 1em;
  border-radius: 12px;
  background-color: khaki;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
}

h5.name {
  position: absolute;
  /* font-size: large; */
  /* font-weight: 500; */
  bottom: 30px;
  left: 0;
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
  color: rgb(241, 241, 241);

  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;

  transition: transform 0.3s ease-out;
  transform: translateZ(20px);
}
div.tilt_container:hover h5.name {
  transform: translateY(-20px) translateZ(20px);
  cursor: default;
}

div.links {
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 10px;
  text-align: center;

  left: 0;
  right: 0;
  text-shadow: 0px 3px 20px rgba(0, 0, 0, 1);

  transform: translateZ(25px);
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.1s;
}
div.tilt_container:hover div.links {
  overflow: visible;
  opacity: 1;
}

a.link {
  font-size: 2em;
  color: rgb(240, 240, 240);
  transform: scale(0.7);
  transition: scale cubic-bezier(1, 0, 0, 1) 0.5s;
  margin: 0 0.15rem;
  transition: all 0.3s ease-out;
}
a.link:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 0.9;
}
div.tilt_container:hover a.link {
  transform: scale(1);
}
a.link svg {
  filter: drop-shadow(0px 1px 10px rgb(56, 56, 56));
  transition-delay: 0;
  transition: filter 0.2s ease-out;
}
a.link svg:hover {
  filter: drop-shadow(0px 1px 10px rgba(224, 238, 255, 0.2));
}